* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ebebeb;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 12px;
}

div.top-header {
  display: flex;
  flex-wrap: wrap;
  padding: 5%;
}

header div.top-header p {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

header {
  background-color: #eac926;
}

header div.logo,
header .form {
  width: 50%;
}

header div.logo {
  padding: 10px;
}

header .form {
  display: flex;
  align-items: center;
  padding: 2px;
  font-size: 11px;
}

header nav {
  display: flex;
  font-size: 12px;
  margin-left: 20px;
  display: none;
}

header ul li {
  list-style-type: none;
}

header ul li a {
  text-decoration: none;
  color: #000;
}

header .form .input {
  background-color: #fff;
  border: 1px solid #000;
  outline: none;
  color: #666;
  padding: 2px;
}

header .form .input .textoBuscar {
  width: 100%;
}

header .form .submit {
  background-color: #fff;
  border: 1px solid #000;
  color: #666;
  width: 10%;
  height: 24px;
  padding-top: 2%;
  border-radius: 4px;
  text-align: center;
}

div.burger-menu {
  text-align: center;
}

div.burger-menu i {
  background-color: #0044aa;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  height: 40px;
  margin: 10px 0px 20px 0px;
  padding: 10px;
  width: 40px;
}

div.last-visit,
div.offers {
  display: flex;
  flex-wrap: wrap;
}

.price {
  font-size: 18px;
  width: 30%;
}

.discount {
  width: 70%;
}

.discount,
.description {
  font-size: 16px;
  font-weight: normal;
}

h3,
.description {
  color: #666;
}

.description {
  opacity: 0;
  margin-top: 20px;
  transition: all 500ms;
}

article:hover .description {
  opacity: 1;
}

section.banner img {
  width: 100%;
}

main {
  width: 90%;
  margin: 0 auto;
}

main section article {
  background-color: #fff;
  margin: 10px 0px;
}

main section article img {
  width: 100%;
}

main section article i,
.discount {
  color: #39b54a;
}

main section article i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
  transition: transform 2s;
}

main section article i:hover {
  transform: rotate(-0.25turn);
}

main section h3 {
  margin: 20px 0px;
}

article div.main-article {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  border-top: 1px solid #ebebeb;
  position: relative;
  padding: 15px;
}

article {
  box-shadow: none;
  transition: all 500ms;
}

article:hover {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

footer {
  margin: 15px;
  background-color: white;
  padding: 15px;
  text-align: center;
}

footer p {
  font-size: 1.1rem;
  padding-left: 13%;
  padding-right: 13%;
  margin-bottom: 2em;
}

footer h2 {
  font-size: 1.2rem;
}

footer div i {
  font-size: 2em;
  margin-bottom: 10px;
  color: #1259c3;
}

footer section {
  text-align: left;
  font-size: 0.9rem;
}

/* A partir de aqui es la zona de Formularios  */

form {
  background-color: #eac926;
  min-height: 100vh;
}

form div {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

form div label {
  display: inline;
  text-align: center;
}

form div .selectMultiple {
  display: flex;
  flex-direction: column;
  align-items: start;
}

form div.botones {
  display: block;
  align-items: center;
  padding-left: 40%;
}

#aceptarLogin {
  transition: all 450ms;
}

#aceptarLogin:hover {
  background-color: #0022aa;
  color: #ebebeb;
}

/* A partir de aqui es la zona de Tablet  */

@media (min-width: 361px) {
  header nav {
    display: block;
  }

  .compraCuotas {
    font-size: 1.25rem;
  }

  header nav a {
    font-size: 1.25rem;
  }

  header .form {
    width: 50%;
    padding-left: 10%;
  }

  header .form .input {
    width: 80%;
  }

  div.burger-menu {
    display: none;
  }

  main section article .description {
    display: block;
  }

  /* main section article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  } */

  main section div.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  main section div.products article {
    width: 45%;
  }

  .price,
  .discount {
    width: 50%;
  }

  form div {
    display: block;
    padding: 10px 20% 10px 20%;
  }

  form div.usuarioLogin,
  form div.passwordLogin {
    display: flex;
  }
}

@media (min-width: 769px) {
  header nav {
    display: flex;
    flex-direction: row;
  }

  header nav ul {
    display: flex;
    flex-direction: row;
  }

  header nav ul li {
    margin-left: 10px;
    margin-right: 10px;
  }

  main section div.products article {
    width: 22%;
  }

  form div.usuarioLogin,
  form div.passwordLogin {
    display: block;
    padding: 10px 20% 10px 20%;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
  }

  footer article {
    width: 32%;
  }
}
